@keyframes glitch{
	0%{
    	background-position: 0 0;
    	filter:hue-rotate(0deg);
	}
	10%{
    	background-position: 5px 0;
	}
	20%{
    	background-position: -5px 0;
	}
	30%{
    	background-position: 5px 0;
	}
	40%{
    	background-position: 0px -5px;
	}
	50%{
    	background-position: 5px 0;
	}
	60%{
    	background-position: 0px 0;
	}
	70%{
    	background-position: 0 -5px;
	}
	80%{
    	background-position: 0px -5px;
	}
	81%{
    	background-position: -5px 0;
	}
	100%{
    	background-position: 15px 0;
    	filter:hue-rotate(360deg);
	}
}